<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Geotify.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>E1B7D960DFE63110DEDC71FCBAA374E075966406</string>
				<key>dateExpires</key>
				<string>4/27/19</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>3T8C45E2VR.com.rotblauer.catTrackMobil2</string>
				<key>com.apple.developer.default-data-protection</key>
				<string>NSFileProtectionComplete</string>
				<key>com.apple.developer.healthkit</key>
				<true/>
				<key>com.apple.developer.healthkit.access</key>
				<array>
					<string>health-records</string>
				</array>
				<key>com.apple.developer.networking.wifi-info</key>
				<true/>
				<key>com.apple.developer.nfc.readersession.formats</key>
				<array>
					<string>NDEF</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>3T8C45E2VR</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.com.rotblauer.catTrackMobil2</string>
					<string>group.com.rotblauer.catTracks</string>
				</array>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Geotify.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>65049611-e843-4252-85d1-34631c0637d4</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.rotblauer.catTrackMobil2</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>3T8C45E2VR</string>
				<key>name</key>
				<string>Rotblauer, LLC</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
