<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://www.dropbox.com/s/81fwcjm7y6j7rw5/Geotify.ipa?dl=1</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://www.dropbox.com/s/iptzlt87ivw717c/Icon-App-60x60%403x.png?dl=1</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://www.dropbox.com/s/iptzlt87ivw717c/Icon-App-60x60%403x.png?dl=1</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.rotblauer.catTrackMobil2</string>
				<key>bundle-version</key>
				<string>V.PUSH</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>Geotify</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
